.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 25rem;
  background-color: var(--black);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px var(--black);
  border: 1px solid var(--black);
  transition: all 0.3s ease;
}

.login-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--white);
  font-weight: 700;
}

.login-input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 3rem;
  margin-bottom: 0.7rem;
  outline: none;
  transition: border-color 0.3s;
  background-color: var(--white);
  padding: 1rem;
  padding-left: 1.3rem;
  outline: none;
  border: none;
  transition: all 0.3s ease;
  color: var(--black);
}

.login-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--sky-blue);
}

.error-message {
  color: var(--red);
  font-size: 0.9rem;
  margin-top: 1rem;
}
